body{
    background: url('./w0b4uqkx.png.png');
    background-size: cover;
    background-position: center;
    font-family: fantasy;
     
}

div{
    padding-left: 30px;
   
}

form{
    background-color: gainsboro;
    opacity: 80%;
    border: 30px;
    border-radius: 30px;
    width: 800px;
    height: 350px;
    display: block;
    padding: 30px; 
    color: darkslategrey;
    display: flex;
    flex-direction: column;
    margin: auto;

}

input{
    background-color: aliceblue;
    border-radius: 30px;
    opacity: 80%;
    padding-left: 8px;

}

button{
    background-color:darkmagenta;
    width: 100px;
    color: whitesmoke;
    border-radius: 30px;
    display: block;
    margin: auto;
    
}

div #success-message {
    color: green;
    font-weight: bold;
     
}

div #results-message {
    color: green;
    font-weight: bold;
   
}

div #error-message {
    color: red;
    font-weight: bold;
     
}